:root {
    --azulClaro : #9CBCE5;
    --azulEscuro1: #1149DF;
    --azulEscuro2: #093062;
    --cinza: rgba(159, 159, 158, 0.7);
    --cinza2: #D9D9D9;
    --cinza3: rgba(57, 69, 80, 0.7);
    --preto: #000000;
    --branco: #ffffff;
}